@import "../Utilities/Utilities";

.body-section-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 50px 20px;
  box-sizing: border-box;

  background-image: linear-gradient(#f1f8ff, #97c7ff);
}

.title-prompt {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: get($colors, red-col);
}

#vote-btn {
  font-size: 1.4em;
  padding: 10px 8px;
  margin: 30px 0;
  margin-left: 50%;
  margin-bottom: 0;
  width: 30%;
  min-width: 120px;
  max-width: 400px;
  transform: translateX(-50%);
  color: get($colors, red-col);
  background-color: get($colors, mid-blue);
  border-radius: 100px;
  border: solid 2px;
  box-sizing: border-box;
}
#vote-btn:hover {
  color: get($colors, green-col);
  border-color: get($colors, green-col);
}

// Small screen
@media screen and (max-width: get($breakPoints, small)) {
  .body-section-container {
    padding: 40px 10px;
  }
  .title-prompt {
    font-size: 2em;
  }
}

// Bigger than mid screen
@media screen and (min-width: get($breakPoints, mid)) {
  #pet-vote {
    margin: 70px 0;
    margin-bottom: 50px;
    font-size: 1.8em;
  }

  .title-prompt {
    font-size: 3.2em;
  }
}
