/* File for importing all available scss imports */
/* Variables for other scss files */
/* Shared functions for scss files */
/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Shared functions for scss files */
/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Shared styles for webpages */
/* Variables for other scss files */
/* Shared functions for scss files */
/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Shared functions for scss files */
/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Custom fonts for webpages */
@font-face {
  font-family: "Helvetica Neue";
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot");
  src: url("/Fonts/HelveticaNeue/HelveticaNeue.eot?#iefix") format("embedded-opentype"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"), url("/Fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"), url("/Fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype"), url("/Fonts/HelveticaNeue/HelveticaNeue.svg#HelveticaNeue") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body,
#root {
  scroll-behavior: smooth;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: white;
  overflow-x: hidden;
}

body > * {
  font-family: "Helvetica Neue";
}

a {
  text-decoration: none;
}

button {
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
  border: 0;
}

button:focus,
a:focus,
input:focus {
  outline: none;
}

button,
a,
input[type="submit"] {
  cursor: pointer;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 2px solid #e03c3c;
  cursor: pointer;
}

.container > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.background-pic {
  width: 40px;
  height: 40px;
  border: 3px solid;
  border-radius: 100%;
  border-color: #e03c3c;
  background-color: lightpink;
}

.vote-opt-name {
  font-size: 1.9em;
  margin-top: 5px;
  color: #217fff;
  margin-left: 10px;
}
/*# sourceMappingURL=VotingOption.css.map */