@import "../Utilities/Utilities";

.display-none {
  display: none;
}
.container {
  display: flex;
  padding-bottom: 5px;
  border-bottom: 3px solid get($colors, red-col);
  cursor: pointer;
}

.container > * {
  align-self: center;
}

.container,
.container > *,
img,
.icon,
.votes-bar-counter {
  transition: 0.6s;
}

.icon {
  color: get($colors, red-col);
  font-size: 30px;
}
.icon-background {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  z-index: 10;
  border: solid 2px get($colors, red-col);
  background: transparent;
  box-sizing: border-box;
}

.votes-bar-counter {
  position: relative;
  border-radius: 0 50px 50px 0;
  color: get($colors, light);
  font-size: 1.2em;
  box-sizing: border-box;
  background-color: get($colors, red-col);
}
.votes-bar-counter.show {
  height: 40px;
  margin-left: -20px;
  text-align: right;
  padding: 7px;
  padding-right: 15px;
}

.vote-opt-name {
  font-size: 1.9em;
  margin-top: 5px;
  position: relative;
  z-index: 2;
  color: get($colors, red-col);
  margin-left: 10px;
}

.chosen-opt {
  border-bottom-color: get($colors, green-col);
  .icon-background {
    background-color: get($colors, trans-green);
    border-color: get($colors, green-col);
  }
  .votes-bar-counter {
    background-color: get($colors, green-col);
  }
  .icon {
    color: get($colors, green-col);
  }
  .vote-opt-name {
    color: get($colors, green-col);
  }
}

// Bigger than mid screen
@media screen and (min-width: get($breakPoints, mid)) {
  .icon {
    font-size: 45px;
  }
  .icon-background {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }

  .votes-bar-counter.show {
    height: 60px;
    font-size: 1.5em;
    padding: 12px;
    padding-right: 25px;
    margin-left: -30px;
  }

  .vote-opt-name {
    font-size: 2.3em;
    margin-left: 15px;
  }
}
