@import "../Utilities/Utilities";

.display-none {
  display: none;
}
.container {
  display: flex;
  position: relative;
  padding-bottom: 5px;
  border-bottom: 3px solid get($colors, red-col);
  cursor: pointer;
}
.container > * {
  align-self: center;
}
.container,
.container > *,
.icon {
  transition: 0.6s;
}

.icon {
  font-size: 27px;
  align-self: flex-end;
}
.icon-background {
  width: 40px;
  height: 40px;
  display: flex;
  z-index: 3;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  border: solid 2px get($colors, red-col);
  background: get($colors, mid-blue);
  box-sizing: border-box;
  overflow: hidden;
}
.icon-background > * {
  color: get($colors, red-col);
}

.vote-counter {
  font-size: 1.3em;
}
.votes-bar-counter {
  position: relative;
  border-radius: 0 50px 50px 0;
  color: get($colors, light);
  font-size: 1.2em;
  box-sizing: border-box;
  background-color: get($colors, red-col);
}
.votes-bar-counter.show {
  height: 40px;
  margin-left: -20px;
  text-align: right;
  padding: 7px;
  padding-right: 15px;
}

.vote-opt-name {
  font-size: 1.8em;
  margin-left: 45px;
  position: absolute;
  z-index: 2;
  color: get($colors, red-col);
}

// Smaller screen
@media screen and (max-width: get($breakPoints, small)) {
  .vote-opt-name {
    font-size: 1.7em;
  }
}

// Bigger than mid screen
@media screen and (min-width: get($breakPoints, mid)) {
  .icon {
    font-size: 40px;
  }
  .icon-background {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }

  .vote-counter {
    font-size: 1.9em;
  }

  .votes-bar-counter.show {
    height: 60px;
    font-size: 1.5em;
    padding: 12px;
    padding-right: 25px;
    margin-left: -30px;
  }

  .vote-opt-name {
    font-size: 2.3em;
    margin-left: 65px;
  }
}

.chosen-opt {
  border-bottom-color: get($colors, green-col);
  .icon-background {
    background-color: get($colors, trans-green);
    border-color: get($colors, green-col);
  }
  .icon-background > * {
    color: get($colors, green-col);
  }

  .votes-bar-counter {
    background-color: get($colors, green-col);
  }

  .vote-opt-name {
    color: get($colors, green-col);
  }
}

.show-name-with-bar,
.chosen-opt > .show-name-with-bar {
  color: get($colors, light);
}
