/* File for importing all available scss imports */
/* Variables for other scss files */
/* Shared functions for scss files */
/* Shared functions for scss files */
/* Shared styles for webpages */
/* Variables for other scss files */
/* Shared functions for scss files */
/* Shared functions for scss files */
html,
body,
#root {
  scroll-behavior: smooth;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f8ff), to(#97c7ff));
  background-image: linear-gradient(#f1f8ff, #97c7ff);
  overflow-x: hidden;
}

body > * {
  font-family: "Helvetica Neue";
}

a {
  text-decoration: none;
}

button {
  font-family: "Helvetica Neue";
  padding: 0;
  margin: 0;
  border: 0;
}

button:focus,
a:focus,
input:focus {
  outline: none;
}

button,
a,
input[type="submit"] {
  cursor: pointer;
}

.display-none {
  display: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  border-bottom: 3px solid #e03c3c;
  cursor: pointer;
}

.container > * {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container,
.container > *,
.icon {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.icon {
  font-size: 30px;
}

.icon-background {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  position: relative;
  border: solid 2px #e03c3c;
  background: #d8eaff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.icon-background > * {
  color: #e03c3c;
}

.vote-counter {
  font-size: 1.3em;
}

.votes-bar-counter {
  position: relative;
  border-radius: 0 50px 50px 0;
  color: white;
  font-size: 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #e03c3c;
}

.votes-bar-counter.show {
  height: 40px;
  margin-left: -20px;
  text-align: right;
  padding: 7px;
  padding-right: 15px;
}

.vote-opt-name {
  font-size: 1.9em;
  margin-top: 5px;
  position: relative;
  z-index: 2;
  color: #e03c3c;
  margin-left: 10px;
}

.chosen-opt {
  border-bottom-color: #26b436;
}

.chosen-opt .icon-background {
  background-color: #d8ffd6;
  border-color: #26b436;
}

.chosen-opt .icon-background > * {
  color: #26b436;
}

.chosen-opt .votes-bar-counter {
  background-color: #26b436;
}

.chosen-opt .vote-opt-name {
  color: #26b436;
}

@media screen and (min-width: 830px) {
  .icon {
    font-size: 45px;
  }
  .icon-background {
    width: 60px;
    height: 60px;
    border-width: 3px;
  }
  .vote-counter {
    font-size: 1.9em;
  }
  .votes-bar-counter.show {
    height: 60px;
    font-size: 1.5em;
    padding: 12px;
    padding-right: 25px;
    margin-left: -30px;
  }
  .vote-opt-name {
    font-size: 2.3em;
    margin-left: 15px;
  }
}
/*# sourceMappingURL=VotingOption.css.map */