@import "../Utilities/Utilities";
.votes-section {
  height: fit-content;
  max-height: 480px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: get($colors, mid-blue);
  padding: 40px;
  border-radius: 1em;
}
.options-container {
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  border-radius: 1em;
  margin-top: 20px;
}
.options-container::-webkit-scrollbar {
  display: none;
}
.options-container > * {
  margin-top: 60px;
}

// Bigger than mid screen
@media screen and (min-width: get($breakPoints, mid)) {
  .options-container {
    margin-top: 40px;
  }

  .options-container > * {
    margin-top: 70px;
  }
}

// Smaller than mid screen
@media screen and (max-width: get($breakPoints, mid)) {
  .votes-section {
    padding: 30px;
  }
}

//Small screen
@media screen and (max-width: get($breakPoints, small)) {
  .votes-section {
    padding: 30px 15px;
  }

  .options-container {
    margin-top: 30px;
  }

  .options-container > * {
    margin-top: 55px;
  }
}

div:first-child {
  margin-top: 0;
}
