@import "../Utilities/Utilities";
.options-container {
  width: 100%;
  height: fit-content;
  max-height: 480px;
  overflow: scroll;
  -ms-overflow-style: none;
  background-color: get($colors, mid-blue);
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-radius: 1em;
  box-sizing: border-box;
}
.options-container::-webkit-scrollbar {
  display: none;
}
.options-container > * {
  margin-top: 60px;
}

// Bigger than mid screen
@media screen and (min-width: get($breakPoints, mid)) {
  .options-container {
    margin-top: 40px;
  }

  .options-container > * {
    margin-top: 70px;
  }
}

div:first-child {
  margin-top: 0;
}

// Smaller than mid screen
@media screen and (max-width: get($breakPoints, mid)) {
  .options-container {
    padding: 30px;
  }
}
