/* Variables for other scss files */

// Importing Utilities
@import "scss_funcs";

// Breakpoints for page designs
$breakPoints: (
  small: 540px,
  mid: 830px
);

// Color plalette
$colors: (
  red-col: #e03c3c,
  dark-red: #bd3333,
  blue-col: #217fff,
  light-blue: #f1f8ff,
  mid-blue: #d8eaff,
  darker-blue: #97c7ff,
  green-col: #26b436,
  trans-green: rgb(216, 255, 214),
  light: white
);

// Website fonts
$fonts: (
  content: "Helvetica Neue",
  side-menu: "Menlo"
);
