/* Variables for other scss files */

// Importing Utilities
@import "scss_funcs";

// Breakpoints for page designs
$breakPoints: (
  small: 540px,
  mid: 830px
);

// Color plalette
$colors: (
  red-col: #e03c3c,
  dark-red: #bd3333,
  blue-col: #217fff,
  dark-blue: #003d90,
  pink-col: #ffb6c1,
  green-col: #26b436,
  trans-pink: rgb(253, 241, 243),
  trans-green: rgb(216, 255, 214),
  light: rgb(255, 255, 255)
);

// Website fonts
$fonts: (
  content: "Helvetica Neue",
  side-menu: "Menlo"
);
